<div class="container">
    <div class="m-2">
        <form>
            <fieldset>
                <legend>Nuevo Articulo al pedido #####</legend>
                <!--Solicitante-->
                <div class="form-group">
                    <label for="exampleSelect1" class="form-label mt-4">Articulo</label>
                    <select class="form-select" id="exampleSelect1">
                        <option>Lapicero</option>
                        <option>Borrador</option>
                        <option>Paquete de hojas A4</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleTextarea" class="form-label mt-4">Cantidad</label>
                    <input class="form-control" rows="1" type="number" name="" id="">
                </div>

                <div class="d-flex justify-content-center mt-5">
                    <button type="submit" class="btn btn-info m-2">Agregar</button>
                    <button class="btn btn-danger m-2" routerLink="/detallePedido/{{id}}">Volver</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>