<div class="container">
    <div class="tittle p-2">
        <h1 class="text-center">Menu Principal</h1>
        <h2 class="text-center"> Jefe de Almacen</h2>
    </div>
    <div class="mt-5 d-flex justify-content-between">
        <div>
            <div class="text-center">
                <h2>Usuario</h2>
                <h2>Jefe de Almacen</h2>
            </div>
        </div>
        <div class="d-flex flex-column">
            <button type="button" routerLink="/maestroPedidos" class="btn btn-primary">Gestor de Pedidos</button>
            <button type="button" routerLink="/maestroArticulos" class="btn btn-primary mt-2">Gestor de Articulos</button>
            <button type="button" routerLink="/nuevoPedido" class="btn btn-primary mt-2">Gestor de Devoluciones</button>
        </div>
        <div>
            <h2>Hoy</h2>
            <h2>{{fecha}}</h2>
        </div>
    </div>
    <table class="table table-hover">

    </table>
</div>