<div class="container">
    <div class="tittle p-2">
        <h4>Maestro de Pedidos</h4>
        <button type="button" routerLink="/nuevoPedido" class="btn btn-primary">Nuevo</button>
    </div>
    <table class="table table-hover">
        <thead>
            <tr class="table-dark">
                <th scope="col">ID</th>
                <th scope="col">Fecha</th>
                <th scope="col">Solicitante</th>
                <th scope="col">Estado</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of listPedidos" class="table-secondary">
                <th scope="row">{{item.id}}</th>
                <td>{{item.fecha}}</td>
                <td>{{item.solicitante}}</td>
                <td>{{item.estado}}</td>
                <td>
                    <button routerLink="/detallePedido/{{item.id}}" class="btn btn-info m-1">Ver detalle</button>
                    <button class="btn btn-warning m-1">Modificar</button>
                    <button class="btn btn-danger m-1">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>